name: Data Preprocessing

on:
  push:
    branches:
      - main
    paths:
      - 'Preprocessing/automate_Reyfaldho_Alfarazel.py'
      - 'requirements.txt'
  workflow_dispatch:

jobs:
  preprocess_and_commit:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run preprocessing script
        run: python Preprocessing/automate_Reyfaldho_Alfarazel.py

      - name: Commit preprocessed data
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: 'Preprocessing/dataset_HeartDisease_membangun_sistem_machine_learning_preprocessing.csv'
          commit_message: '[CI] Auto-generated preprocessed dataset'
          commit_user_name: 'github-actions[bot]'
          commit_user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_author: 'Reyfaldho Alfarazel <your-github-email@example.com>'
